<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
 
  <%- include('partials/navbar', { page: '/about' }) %>

  <br />

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">About me</p>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg" src="/images/profile-pic.jpg" alt="profile" />
      </div>
      <div class="prose">
        <p>Hi, I'm Shwe Yee, and I'm currently a student at Seneca Polytechnic. 
          This is an assignment for my WEB 322 class. 
          My hobbies include reading, swimming, and studying astronomy.</p>

        <p>Currently, I am doing my best. Thanks for visiting!</p>
      </div>
    </div>
  </div>

</body>

</html>
